/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700');

body {
    font-family: "Bai Jamjuree", san-serif;
    line-height: 1.7;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

a {
    text-decoration: none;
}